@import "../helpers/_variables.scss";

#propos{
    position: relative;
    z-index: 0;
    height: 100vh;
    background-color: $white;
    border-left: 10px solid $red;
    border-right: 10px solid $red;


    h2{
        font-size: $titre;
        padding-top: $mt;
        color: $black;
        font-family: $font-titre;
        text-align: left;
        width: 100%;
    
        span{
            color: $red;
        }
    }

    p{
        font-size: $sous-titre;  
        padding-top: $mt / 1.5;

        color: $black;
        font-family: $labeur;
        text-align: left;
        width: 50%;      
    }

    section{
        z-index: 99;
        padding: 3%;
        margin-top: $mt;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

        article{
        z-index: 99;

            background-color: $white;
            
            img{
        z-index: 99;

                height: 10vh;
                display: block;
            }
        }
    }
}