@import "../helpers/_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*|*:-webkit-any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

*|*:-moz-any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

*|*:any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

::selection{
    background-color: $white;
    color: $red;
}
  
::-moz-selection {
    background-color: $white;
    color: $red;
}

img{
    max-width: 100%;
    margin: auto;
    display: block;
    z-index: 99;
}
