// Font
$titre : 3vw;
$sous-titre : 1vw;
$big-titre : 16vw;
$font-titre : "Gotham-bold";
$labeur : "Montserrat", sans-serif;


// Color
$white  : #ffffff;
$red    : #FF003A;
$black  : #23252A;
$gutter : #292B30;
$gutter2: #F0F2F7;
$back   :  #2F3135;

// All

$mt : 10%;